<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aarstrand.zindre.pokechecklist">

    <application
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name=".ui.NewMainActivity"
                android:label="@string/title_activity_main"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".PokedexActivity"
                android:label="@string/title_activity_pokedex"
                android:parentActivityName=".MainActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.aarstrand.zindre.pokechecklist.MainActivity"/>
            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable"/>
        </activity>
        <activity
                android:name=".MyShiniesActivity"
                android:label="@string/title_activity_my_shinies"
                android:parentActivityName=".MainActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.aarstrand.zindre.pokechecklist.MainActivity"/>
        </activity>
        <activity
                android:name=".ProgressActivity"
                android:label="@string/title_activity_progress"
                android:parentActivityName=".MainActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.aarstrand.zindre.pokechecklist.MainActivity"/>
        </activity>
        <activity
                android:name=".HuntActivity"
                android:label="@string/title_activity_hunt"
                android:parentActivityName=".MainActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.aarstrand.zindre.pokechecklist.MainActivity"/>
        </activity>
        <activity
                android:name=".RegisterActivity"
                android:label="@string/title_activity_register"
                android:parentActivityName=".PokedexActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aarstrand.zindre.pokechecklist.PokedexActivity"/>
        </activity>
        <activity android:name=".CatchActivity"
                  android:label="@string/title_activity_catch"
                  android:parentActivityName=".MyShiniesActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aarstrand.zindre.pokechecklist.MyShiniesActivity"/>
        </activity>
        <activity
                android:name=".SearchResultActivity"
                android:label="@string/title_activity_search"

        >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
        </activity>
    </application>

</manifest>